.login-wrap {
	display: flex;
	height: 100vh;
	justify-content: flex-end;
	align-items: center;
	background: url("../../../assets/backgrounds/loginbg.jpg") center no-repeat;
	background-size: cover;
	.form {
		display: flex;
		flex-direction: column;
		background-color: rgba(127, 255, 212, 0.342);
		height: 600px;
		border-radius: 10px;
		padding: 100px;
		align-items: flex-start;

		.input-wrap {
			background-color: rgba(255, 255, 255, 0.253);
			padding: 10px;
			border-radius: 8px;
			border: 2px solid rgba(127, 255, 212, 1);
			input {
				width: 400px;
				height: 45px;
				font-size: 1.5em;
				color: rgb(255, 255, 255);
			}
			.site-form-item-icon {
				color: rgba(127, 255, 212, 1);
				font-size: 2em;
				margin-right: 10px;
			}
			.login-btn-wrap{
				
					background-color: rgba(127, 255, 212, 1);
					height:40px ;
			}
		}
		.social-media-logins {
			display: flex;
			justify-content: center;

			.social-media-icon {
				font-size: 2.5em;
				color: rgba(127, 255, 212, 1);
				margin: 0 15px;
			}
		}
	}
}
