.dashboard_wrap{
    display: flex;
    flex-direction: column;
}
.dashboard_layout{
    display: flex;
}
.dashboard_header{
    background-color: coral;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100vw;
}
.dashboard_sidebar{
    width: 15vw;
    min-width: 200px;
    background-color: cornflowerblue;
    height: calc(100vh - 115px);
    position: fixed;
    left: 0;
    top: 75px;
}
.dashboard_body{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 115px);
    padding: 80px 0 50px 16vw;
}
.dashboard_footer{
    height: 40px;
    width: 100vw;
    background-color: cadetblue;
    line-height:1;
    padding: 10px;
    position: fixed;
    bottom: 0;
}