.landing_layout{
    display: flex;
}
.landing_header{
    background-color: rgb(168, 168, 168);
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    height: 75px;
    z-index: 999;
}
.landing_body{
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
}
.landing_footer{
    height: 40px;
    width: 100vw;
    background-color: cadetblue;
    line-height:1;
    padding: 10px;
    position: fixed;
    bottom: 0;
}