* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


/* scrollbar style for whole html body */
body::-webkit-scrollbar {
  width: 5px;
  background:lightgray;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgb(0, 0, 0); 
  box-shadow: inset 0 0 2px rgb(0, 0, 0); 
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
  background:rgb(88, 84, 116);
} 